section.sign_up
    .sign_up_form.sign_up_404
        .sign_up_404_err
            | 404
        .sign_up_404_header
            | Page not found
        a.sign_up_back(href="./sign_in.html")
            .sign_up_back_hex
                span
            | Go back
    +social
    +hexagon(3)
    +hexagon(4, 2)