section.about
    .row.align-center.about_inner
        .column.large-10
            .about_video
                +video
        .column.large-12
            #about.box.box--about.about_box(data-magellan-target="about")
                h2 Cyber Security World Market Problem:
                h3 Lack of Cooperation Between Antivirus Products
                p.about_box_descr
                    | Any single software can't manage with sophisticated malware alone
                .about_graph
                    .about_graph_container
                        .about_graph_labels
                            .about_graph_label.about_graph_label--top.about_graph_label--left
                                | Challengers
                            .about_graph_label.about_graph_label--top.about_graph_label--right
                                | Leaders
                            .about_graph_label.about_graph_label--bottom.about_graph_label--left
                                | Niche Players
                            .about_graph_label.about_graph_label--bottom.about_graph_label--right
                                | Visionaries
                        .about_graph_comment
                            .about_graph_comment_inner.about_graph_comment--2017.is_visible
                                | While traditional antivirus are vendors competing for customers, users suffer from the advanced malware
                            .about_graph_comment_inner.about_graph_comment--2018
                                | LevelNet - the First Democratic Cyber Security Platform
                            .about_graph_comment_inner.about_graph_comment--2019
                                | LevelNet Platform joins all the customers in real-time updating cyber shield against malware and hackers attacks
                            .about_graph_comment_inner.about_graph_comment--2020
                                | The more customers join LevelNet Platform - the more strong it is to protect customers private data
                            .about_graph_comment_inner.about_graph_comment--2021
                                | No more high-cost slow AV software. New distributed technology works for users, for their protection and safety.
                        .about_graph_map
                            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='-1214 5332 648 440')
                                g.about_graph_map_group.about_graph_map_group--1(transform='translate(-1609 3748)')
                                    g(transform='translate(-20 18)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-79.216', y='0') Micro Focus
                                    g(transform='translate(-12 96)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-75.826', y='0') SecureAuth
                                    g(transform='translate(39 141)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-89.988', y='0') Atos (Evidian)
                                    g(transform='translate(-57 181)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-128.355', y='0') i-Sprint Innovations
                                    g(transform='translate(-134 215)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1771)')
                                            tspan(x='-79.038', y='0') Optimal IdM
                                    g(transform='translate(107 -33)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Ping Identity
                                    g(transform='translate(117 61)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Centrify
                                    g(transform='translate(179 89)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') OneLogin
                                    g(transform='translate(304 97)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') ForgeRock
                                    g(transform='translate(181 -1)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') IBM
                                    g(transform='translate(221 -33)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Oracle
                                    g(transform='translate(318 -58)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Microsoft
                                    g(transform='translate(266 -129)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Okta
                                    g(transform='translate(251 9)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') CA Technologies
                                
                                g.about_graph_map_group.about_graph_map_group--2.is_hide(transform='translate(-1609 3748)')
                                    g.about_graph_map_item--red2020(transform='translate(49 29)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-33.727', y='0') ESET
                                    g.about_graph_map_item--red2020(transform='translate(49 187)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-122.819', y='0') Palo Alto Networks
                                    g.about_graph_map_item--red2019.about_graph_map_item--red2020(transform='translate(41 211)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-55.102', y='0') Comodo
                                    g.about_graph_map_item--red2020(transform='translate(-54 166)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1770)')
                                            tspan(x='-75.675', y='0') Bitdefender
                                    g.about_graph_map_item--red2019.about_graph_map_item--red2020(transform='translate(-43 236)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(633 1771)')
                                            tspan(x='-47.144', y='0') FireEye
                                    g.about_graph_map_item--red2020(transform='translate(257 205)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Endgame
                                    g(transform='translate(100 227)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Cisco
                                    g.about_graph_map_item--red2019.about_graph_map_item--red2020(transform='translate(105 192)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') SentinelOne
                                    g.about_graph_map_item--red2020(transform='translate(105 176)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') F-Secure
                                    g.about_graph_map_item--red2020(transform='translate(101 148)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Malwarebytes
                                    g.about_graph_map_item--red2020(transform='translate(89 132)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Cylance
                                    g.about_graph_map_item--red2020(transform='translate(237 160)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Carbon Black
                                    g.about_graph_map_item--red2019.about_graph_map_item--red2020(transform='translate(193 125)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Panda Security
                                    g(transform='translate(105 70)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Kaspersky Lab
                                    g.about_graph_map_item--red2020(transform='translate(103 111)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') McAfee
                                    g.about_graph_map_item--green.about_graph_map_item--red2019.about_graph_map_item--red2020(transform='translate(311 97)')
                                        path.c(d='M13.974,0H4.635L0,8.076l4.635,8.076h9.34l4.7-8.076Z', transform='translate(637.47 1758)')
                                        text.f(transform='translate(662 1771)')
                                            tspan(x='0', y='0') LevelNet
                                    g.about_graph_map_item--red2020(transform='translate(172 15)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Sophos
                                    g.about_graph_map_item--red2019.about_graph_map_item--red2020(transform='translate(138 -1)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Trend Micro
                                    g(transform='translate(225 141)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Microsoft
                                    g(transform='translate(258 -25)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') Symantec
                                    g.about_graph_map_item--red2020(transform='translate(258 57)')
                                        path.c(d='M8.229,0h-5.5L0,4.756,2.729,9.511h5.5L11,4.756Z', transform='translate(641.309 1761.32)')
                                        text.d(transform='translate(660 1771)')
                                            tspan(x='0', y='0') CrowdStrike

                    .slider.about_graph_timeline(data-slider data-initial-start="50" data-end="200")
                        .slider-handle.about_graph_timeline_arrow(data-slider-handle role="slider" tabindex="1")
                            i.icon.icon--arr_graph
                        .slider-fill.about_graph_timeline_line(data-slider-fill)
                        .about_graph_timeline_years
                            .about_graph_timeline_year 2017
                            .about_graph_timeline_year 2018
                            .about_graph_timeline_year 2019
                            .about_graph_timeline_year 2020
                            .about_graph_timeline_year 2021
                    .about_graph_copyright
                        | January, 2018. Gatner, Inc
                .pattern.box_pattern.box_pattern--left.about_box_bottom
                    h3 Cybersecurity spending outlook:
                    h2 $1 000 000 000 from 2017 to 2021
    +hexagon(4, 2)
    +hexagon(3, 2)