mixin event(img, title, location, date)
    .events_event
        a.events_event_img(href="#")
            img(src="//placehold.it/300x160/2d2b2d?text=TechCrunch", alt=title)
        h3.events_event_title
            a(href="#")
                | TechCrunch Distrupt SF 2017
        .events_event_location
            | San Francisco, USA
        .events_event_date
            | Sept 18-20, 2017

section#events.events(data-magellan-target="events")
    .row.align-center
        .column.large-10
            h2 Conferences & Events
        .large-10.events_inner  
            +event('', 'TechCrunch Distrupt SF 2017', 'San Francisco, USA', 'Sept 18-20, 2017')
            +event('', 'BlockChain UA 2017', 'Kyiv, Ukraine', 'Sept 22, 2017')
            +event('', 'USI Irvine, USA', 'Irvine, USA', 'October 26, 2017')
            +event('', 'TechCrunch Distrupt SF 2017', 'San Francisco, USA', 'Sept 18-20, 2017')
            +event('', 'BlockChain UA 2017', 'Kyiv, Ukraine', 'Sept 22, 2017')
            +event('', 'USI Irvine, USA', 'Irvine, USA', 'October 26, 2017')