head
    meta(charset="UTF-8")
    if page == 'main'
        title LevelNet ICO - Disrupting Cyber Security Platform
        meta(property='og:title', content='LevelNet ICO - Disrupting Cyber Security Platform')
    else if page == 'pre_ico'
        title LevelNet Token Sale - Disrupting Cyber Security Platform
        meta(property='og:title', content='LevelNet Token Sale - Disrupting Cyber Security Platform')
    else if page == 'product'
        title LevelNet - Disrupting Cyber Security Platform
        meta(property='og:title', content='LevelNet - Disrupting Cyber Security Platform')
    else
        title LevelNet
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://levelnet.co/')
    meta(property='og:image', content='/og_cover.jpg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#201e20")
    meta(name="msapplication-TileColor", content="#201e20")
    meta(name="theme-color", content="#201e20")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="./css/app.css")