header.pattern.head(class=(page == 'pre_ico') ? "head--pre_ico" : "")
    .row
        h1.column(class=(page == 'pre_ico') ? "large-10 large-offset-1" : "")
            if (page == 'pre_ico')
                | Join Disrupting Cyber Security Platform LevelNet
            else
                | Disrupting Cyber Security Platform LevelNet
    .row.head_content(class=(page == 'pre_ico') ? "align-middle" : "")
        .column.head_content_left(class=(page != 'pre_ico') ? "large-6" : "large-offset-1 shrink")
            ul.menu.vertical.head_list
                li
                    h4 Faster than any other single Antivirus software
                li
                    h4 Thousands of virus databases in one token
            if page != 'pre_ico'
                +form('JOIN WHITELIST', 'primary', 'Don\'t miss <span>bonus +25%</span> for tokens before 1.5m')
        .column.head_content_right(class=(page != 'pre_ico') ? "large-6" : "large-offset-3")
            if page != 'pre_ico'
                +countdown('main')
            +social(true, (page != 'pre_ico' ? 'head' : ''))
    if page == 'pre_ico'
        .row.align-center
            .column.large-10
                .head_pre_ico
                    +countdown('pre_ico', 'PUBLIC PRE-SALE is live, ends in')