mixin release(title, date, more)
    .kit_release
        a.kit_release_title(data-open="release")
            =title
            if more
                span.kit_release_more
                    | Read more
                    svg(width='18', height='12', xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='0 0 18 12')
                        g(transform='matrix(1,0,0,1,-849,-236)')
                            path(d='M849,243h14.17l-3.58,3.59l1.41,1.41l6,-6l-6,-6l-1.41,1.41l3.58,3.59h-14.17z')
        .kit_release_date
            =date

mixin material(icon, label)
    a.accordion-title.kit_material(href="#")
        span.kit_material_icon
            i.material-icons
                =icon
        span.kit_material_label
            =label

mixin tab_item(title)
    a.kit_tab_item(href="#" target="_blank")
        i.icon.icon--file
        =title

mixin tab(name, ext, is_active)
    - var name_label = name.toLowerCase();
    .tabs-panel.kit_tab_panel(id="tab_graphics_" + name_label class= is_active ? "is-active" : "")
        .kit_tab_content
            +tab_item(name + ' (' + ext + ')')
            +tab_item(name + ' (' + ext + ')')
            +tab_item(name + ' (' + ext + ')')
            +tab_item(name + ' (' + ext + ')')
        .kit_tab_bottom
            a(href="#" download)
                i.icon.icon--download
                | Download all #{name}s (zip)

section#kit.kit(data-magellan-target="kit")
    .row.align-center
        .column.large-10
            h2 Media Kit
    .row.align-center.kit_inner
        .column.large-5
            h4 Relases
            .kit_releases
                - var k = 0;
                while k < 4
                    +release('Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.', 'November 14, 2017')
                    - k++
            button.button.hollow.short.icon(data-open="releases")
                | Show all releases
                i.icon.icon--arrow
        .column.large-5
            h4 Materials
            .accordion.kit_materials(data-accordion data-allow-all-closed="true")
                .accordion-item(data-accordion-item)
                    +material('wallpaper', 'Logo and Graphics')
                    .accordion-content.kit_material_content(data-tab-content)
                        ul#tab_graphics.tabs(data-tabs)
                            li.tabs-title.is-active
                                a(href='#tab_graphics_logo', aria-selected='true')
                                    | Logo
                            li.tabs-title
                                a(href='#tab_graphics_background')
                                    | Background
                            li.tabs-title
                                a(href='#tab_graphics_illustration')
                                    | Illustrations
                            li.tabs-title
                                a(href='#tab_graphics_infographic')
                                    | Infographics
                        .kit_tab.tabs-content(data-tabs-content='tab_graphics')
                            +tab('Logo', 'pdf', 1)
                            +tab('Background', 'jpg')
                            +tab('Illustration', 'ai')
                            +tab('Infographic', 'pdf')

                .accordion-item(data-accordion-item)
                    +material('camera_alt', 'Photos of the Team and key events')
                    .accordion-content.kit_material_content(data-tab-content)
                        ul#tab_graphics.tabs(data-tabs)
                            li.tabs-title.is-active
                                a(href='#tab_graphics_photo', aria-selected='true')
                                    | Photos
                        .kit_tab.tabs-content(data-tabs-content='tab_graphics')
                            +tab('Photo', 'jpg', 1)

                .accordion-item(data-accordion-item)
                    +material('format_align_left', 'Articles and other texts')
                    .accordion-content.kit_material_content(data-tab-content)
                        ul#tab_graphics.tabs(data-tabs)
                            li.tabs-title.is-active
                                a(href='#tab_graphics_article', aria-selected='true')
                                    | Articles
                        .kit_tab.tabs-content(data-tabs-content='tab_graphics')
                            +tab('Article', 'doc', 1)

                .accordion-item(data-accordion-item)
                    +material('font_download', 'Banners & Advertising materials')
                    .accordion-content.kit_material_content(data-tab-content)
                        ul#tab_graphics.tabs(data-tabs)
                            li.tabs-title.is-active
                                a(href='#tab_graphics_photo', aria-selected='true')
                                    | Banners
                        .kit_tab.tabs-content(data-tabs-content='tab_graphics')
                            +tab('Banner', 'png', 1)

            a.button.secondary.shorter.icon(href="#" download)
                | Download Full Media Kit
                i.icon.icon--arrow
    +hexagon(1)
    +hexagon(3)
    +hexagon(6, 5)