nav.nav.is_filled
    .nav_inner
        .logo
            a(href="#top")
                img(src="./img/logo.svg", alt="LevelNet")
        ul.menu
            li
                a(href="#whitepaper") Whitepaper
            li
                a(href="#about") Technology
            li
                a(href="#team") Team
            if page != 'product'
                li
                    a(href="#ico") Token Sale
            li
                a(href="#press") Press
            li
                a(href="#faq") FAQ
        if page == 'product'
            a.button.hollow.thin(href="/")
                | Token Sale
        else
            button.button.hollow.thin(data-open="join")
                | Register for Whitelist
        .nav_phone
            a(href="tel:+823123456") +82 312 34 56
        .nav_lang
            select.select7.select7_dropdown.select7_remove_current
                option(value="EN") EN
                option(value="CN") CN
                option(value="SP") SP
                option(value="RU") RU
                option(value="GE") GE
                option(value="FR") FR