#menu.off-canvas.position-right.nav_mobile(data-off-canvas data-transition="overlap")
    .nav_mobile_logo
        img(src="./img/logo_mobile.svg", alt="LevelNet")
    button.button.hollow.thin.wide.clean(data-open="join")
        | Register for Whitelist
    ul.menu.vertical.nav_mobile_menu(data-magellan data-active-class="is_active")
        li
            a(href="#ico")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Token Sale
        li
            a(href="#about")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Technology
        li
            a(href="#use_cases")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Use Cases
        li
            a(href="#services")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | For Corporate
        li
            a(href="#roadmap")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Roadmap
        li
            a(href="#team")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Team
        li
            a(href="#partners")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Partners
        li
            a(href="#kit")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Media Kit
        li
            a(href="#reviews")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Reviews and Stories
        li
            a(href="#events")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Conferences and Events
        li
            a(href="#documents")
                span.nav_mobile_menu_hex
                span.nav_mobile_menu_label
                    | Documents
    button.close-button.small(aria-label='Close', type='button', data-close)
        span(aria-hidden='true') ×