section#products.products
    .row.align-center
        .column.xlarge-10
            h2 Choose The Right Way For Your Data Safety
            .products_overflow
                table.products_table
                    tr
                        th
                        th
                            h3 Single AV
                        th
                            h3 VirusTotal
                        th
                            h3 LevelNet
                    tr
                        td End-Point theads detection
                        td Within one product
                        td
                            i.icon.icon--minus
                        td
                            i.icon.icon--check
                    tr
                        td Real Time Update
                        td Within one product
                        td
                            i.icon.icon--minus
                        td
                            i.icon.icon--check
                    tr
                        td Context analysis for end-points
                        td Within one product
                        td
                            i.icon.icon--minus
                        td
                            i.icon.icon--check
                    tr
                        td Mutating attacs detection
                        td Within one product
                        td
                            i.icon.icon--minus
                        td
                            i.icon.icon--check
                    tr
                        td Compatibility with other AV products
                        td
                            i.icon.icon--minus
                        td
                            i.icon.icon--minus
                        td
                            i.icon.icon--check
    +hexagon(4)

mixin ico_offer(label)
    figure.ico_box_offer
        .ico_box_offer_icon
            i.icon.icon--check_gray
        figcaption
            !=label