mixin review(url, large, title, ratio)
    .column.reviews_review(class="large-" + (large ? "6" : "3") + " medium-" + (ratio=='widescreen' ? "12" : "6") + " small-12")
        +video(url, title, true, false, ratio)

section#reviews.pattern.reviews(data-magellan-target="reviews")
    .row.align-center
        h2.column Video Reviews and Stories
    .row.reviews_inner
        +review('', true, 'Introducing LevelNet The First Distributed Cyber Security Platform', 'widescreen')
        .column.large-6.medium-12
            .row
                +review('', true, 'ICO StartUP! Unique Antivirus','custom')
                +review('', true, 'Global Cyber Security Platform','custom')
                +review('', true, 'LevelNet ICO PRESENTATION ON ICOLINK','custom')
                +review('', true, 'BTC Center. LevelNet Review','custom')
        +review('', false, 'Introducing LevelNet in Irvine, California', 'custom')
        +review('', false, 'ICO is coming', 'custom')
        +review('', false, 'Don\'t be looser and follow @levelnetwork', 'custom')
        +review('', false, 'Crowdsale', 'custom')