section#roadmap.roadmap(data-magellan-target="roadmap")
    .row.column
        h2 Roadmap
        table.roadmap_table
            tr
                th
                    h4 Technology
                td
                    .roadmap_table_hex.is_active
                        .roadmap_table_hex_label 2018
                        h3.roadmap_table_hex_figure
                            span Q1
                    | Finalized Specification of requirements forthe development
                td
                    .roadmap_table_hex
                        .roadmap_table_hex_label 2018
                        h3.roadmap_table_hex_figure
                            span Q2
                    .roadmap_table_hint
                        | Exchange to be listed
                    | Hire engineers and start back-end development process 
                td
                    .roadmap_table_hex
                        .roadmap_table_hex_label 2018
                        h3.roadmap_table_hex_figure
                            span Q3
                    | Close of Alpha Version, corporate API, First testing
                td
                    .roadmap_table_hex
                        .roadmap_table_hex_label 2018
                        h3.roadmap_table_hex_figure
                            span Q4
                    | Start mobile development
                td
                    .roadmap_table_hex
                        .roadmap_table_hex_label 2019
                        h3.roadmap_table_hex_figure
                            span Q1
                    | Open Beta Version; 
                    br
                    | SDK for integrationin exist antivirus products
                td
                    .roadmap_table_hex
                        .roadmap_table_hex_label 2019
                        h3.roadmap_table_hex_figure
                            span Q2
                    | RTM
            tr
                th
                    h4 Business
                td
                    | Visiting exhibitions, interacting with the community.
                    br
                    br
                    | Conclusion of cooperation agreements with representatives of the industry
                td
                    | Business development to promote the product among corporate users
                td
                    | Business development to attract small anti-virus companies to cooperation
                td
                    | The first integration into existing antivirus products
                td
                td
            tr
                th
                    h4 Token Offer
                td
                    | Token Sale (LVL)
                td
                    | Token Listing on Exchanges
                td
                    | Preparation to second phase Token Offering
                td
                    | Exchange LVL token to LVLS; Election of board members from among LVLS token owners
                td
                    | Token sale (LVLS)
                td
    +hexagon(3)
    +hexagon(2)