section#services.services(data-magellan-target="services")
    .row.align-center
        .column.large-10
            h2 Services for Corporate Clients:
            h3 Total Confidentiality and Data Security Budget Reduce
    .row.services_inner
        .column.large-6
            +offer('dns', 'Threat database search.<br>Reputation database. API')
            +offer('bug_report', 'Malware sample access')
            +offer('storage', 'Access to statistical data')
        .column.large-6
            .services_infographics
                img(src="./img/services_infographics@2x.png", alt="")
    .row.align-center
        .column.large-10
            button.button.long.tertiary.icon(data-open="benefits")
                | Learn more about Corporate Benefits
                i.icon.icon--arrow
    +hexagon(1)
    +hexagon(2)