nav.sidebar_nav
    ul.menu.vertical(data-magellan data-active-class="is_active" data-deep-linking="true")
        a(href="#top")
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#about") Product Details
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#use_cases") Use Cases
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#services") For Corporate
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#roadmap") Roadmap
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#partners") Partners
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#kit") Media Kit
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#reviews") Reviews and Stories
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#events") Conferences & Events
            span.sidebar_nav_hex
        li.sidebar_nav_item
            a.sidebar_nav_link(href="#documents") Documents
            span.sidebar_nav_hex