mixin social(num, mod)
    - 
        var i = 0;
        var social = [
            ['telegram', 24, 22],
            ['reddit', 26, 22],
            ['bitcointalk', 18, 24],
            ['facebook', 11, 22],
            ['twitter', 24, 19],
            ['linkedin', 21, 21], 
            ['instagram', 23, 23],
            ['medium', 25, 19],
            ['youtube', 24, 18],
            ['github', 25, 21]
        ];
        var num = num ? num : social.length;
    ul.menu.social(class=mod ? "social--" + mod : "")
        while i < num
            li
                a(href="#")
                    svg(xmlns='http://www.w3.org/2000/svg', viewbox="0 0 " + social[i][1] + " " + social[i][2] width=social[i][1] height=social[i][2])
                        use(fill='#fff', xlink:href='#' + social[i][0])
            - i++