mixin case(icon, label, note, mod)
    .column
        a.use_cases_case(data-open="infographics_" + mod)
            .use_cases_case_top
                .use_cases_case_icon
                    img(src="./img/icons/" + icon + ".svg", alt=icon)
                if note
                    .use_cases_case_note
                        =note
            .use_cases_case_label
                !=label
                i.icon.icon--arrow
section#use_cases.pattern.use_cases(data-magellan-target="use_cases")
    .row.align-center
        .column.xlarge-10
            h2 Use Cases for Private Customers:
            h3 LevelNet End-Point Security
    .row.align-center.use_cases_videos
        .column.xlarge-5.medium-6.small-12
            +video('', 'How Works the Fastest Cyber Security Platform', true)
        .column.xlarge-5.medium-6.small-12
            +video('', 'DEMO: How To Use LevelNet on Your Computer with or without any other Antivirus', true)
    .row.use_cases_cases
        +case('computer', 'LevelNet Endpoint Security App<br>with no other Antivirus Software', false, 'wo')
        +case('security', 'LevelNet Endpoint Security App<br>with other Antivirus Software', 'Unable to detect a threat', 'unable')
        +case('global', 'LevelNet Endpoint Security App<br>with other Antivirus Software', 'Able to detect a threat', 'able')