mixin video(url, title, border, bg, ratio)
    a.responsive-embed.video(class=ratio ? ratio : "" class=border ? "video--border" : "" class=(ratio == 'custom') ? "video--small" : "" style=bg ? "background-image:url(" + bg + ")" : "" data-open="video")
        if title
            span.video_title
                =title
        span.video_button
            svg(xmlns='http://www.w3.org/2000/svg', version='1.1', viewbox='0 0 66 46')
                g(transform='matrix(1,0,0,1,-642,-16070)')
                    path(d='M706.87466,16077.3668c1.13477,4.93236 1.12536,10.31647 1.12536,15.39471c0,5.07756 -0.00403,10.46101 -1.13948,15.39336c-0.7973,3.46348 -3.63087,6.01873 -7.03922,6.3999c-8.07449,0.90217 -16.24713,0.90688 -24.38616,0.90217c-8.13768,0.00471 -16.31235,0 -24.38751,-0.90217c-3.41037,-0.38185 -6.24192,-2.9371 -7.03787,-6.3999c-1.13477,-4.93168 -1.13477,-10.31512 -1.13477,-15.39336c0,-5.07824 0.01277,-10.46235 1.14754,-15.39471c0.79729,-3.46348 3.62817,-6.01873 7.03652,-6.3999c8.07584,-0.9015 16.25117,-0.90621 24.38885,-0.9015c8.13634,-0.0047 16.31032,0 24.38616,0.9015c3.41037,0.38117 6.24327,2.93643 7.04056,6.3999zM667.03327,16102.86959c6.92023,-3.58852 13.77995,-7.14409 20.70421,-10.73529c-6.94577,-3.62348 -13.80213,-7.20056 -20.70421,-10.80185c0,7.20459 0,14.33322 0,21.53714z')