block vars
//- Components
include includes/_form
include includes/_social
include includes/_countdown
include includes/_hexagon

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--headless
            include includes/_nav
            .pattern.profile_container
                .row.profile_inner
                    include includes/profile/_menu
                    article.column.xlarge-12.xxlarge-9(class="profile_" + page)
                        block content
        include includes/profile/_offcanvas
        include includes/profile/_popup
        script(src="./js/profile.min.js")