block vars
//- Components
include includes/_form
include includes/_social
include includes/_countdown
doctype html
html(lang="ru")
    include includes/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include includes/_nav
            include includes/_sidebar_nav
            include includes/_header
            block content
                include includes/_about
                include includes/_whitepaper
                include includes/_use_cases
                include includes/_services
                include includes/_products
                include includes/_ico
                include includes/_token_info
                include includes/_token_distr
                include includes/_roadmap
                include includes/_team
                include includes/_partners
                include includes/_press
                include includes/_interview
                include includes/_kit
                include includes/_events
                include includes/_reviews
                include includes/_faq
                include includes/_docs
            include includes/_footer
        include includes/_offcanvas