.profile{
    &_2fa{
        @include breakpoint(small down) {
            margin-top: -10px;
        }
        &_attention{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 55px;
            @include breakpoint(small down) {
                margin-top: 38px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
            }
            &_hex{
                @include hexagon(57, $medium-black, 2, $dark-color);
                margin-right: 40px;
                font-size: 36px;
                font-weight: 100;
                @include breakpoint(small down) {
                    flex: none;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &_text{
                width: calc(100% - 97px);
                @include breakpoint(medium down) {
                    br{
                        display: none;
                    }
                }
                @include breakpoint(small down) {
                    width: 100%;
                    margin-top: 20px;
                }
                a{
                    text-decoration: underline;
                }
            }
            &_bottom{
                // padding-left: 97px;
                margin-top: 23px;
                @include breakpoint(small down) {
                    // padding: 0;
                    .button{
                        justify-content: center;
                        text-align: center;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
        &_header{
            @include breakpoint(medium down) {
                text-align: center;
            }
        }
        &_key{
            margin-top: 35px;
            margin-bottom: 25px;
            @include breakpoint(medium down) {
                margin-bottom: 42px;
            }
            @include breakpoint(small down) {
                margin-bottom: 35px;
            }
        }
        &_qr{
            height: 265px;
            background-color: $white;
            border-radius: $global-radius;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_print{
            background-color: $white;
            border-radius: $global-radius;
            height: 100%;
            max-height: 265px;
            padding: 24px 28px;
            color: $medium-black;
            text-align: center;
            @include breakpoint(small down) {
                margin: 0 -16px;
                border-radius: 0;
                padding: 22px 16px;
                max-height: none;
            }
            &_header{
                color: $medium-black;
            }
            &_copy{
                position: relative;
                margin: 25px 0;
                @include breakpoint(medium down) {
                    max-width: 495px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include breakpoint(small down) {
                    max-width: none;
                    margin: 20px 0 8px;
                }
                input{
                    background-color: #f1f3f5 !important;
                    border: 0 !important;
                    color: $medium-black;
                    text-align: center;
                    font-size: 20px;
                    letter-spacing: 0.8px;
                    cursor: text;
                    @include breakpoint(small down) {
                        font-size: 16px;
                    }
                }
                button{
                    color: $medium-gray;
                    position: absolute;
                    width: 42px;
                    height: 42px;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    transition: 300ms;
                    background: linear-gradient(to left, #f1f3f5 85%, transparent);
                    @include breakpoint(small down) {
                        display: none;
                    }
                    &:hover, &:focus{
                        color: $dark-gray;
                    }
                }
            }
            &_descr{
                font-size: 14px;
                letter-spacing: 0.56px;
                margin-top: 24px;
                @include breakpoint(small down) {
                    br:last-of-type{
                        display: none;
                    }
                }
                a{
                    color: $medium-black;
                    text-decoration: underline;
                }
            }
            .button {
                @include breakpoint(small down) {
                    width: 100%;
                }
            }
        }
        &_form{
            padding-right: 20px;
            @include breakpoint(medium down) {
                padding: 0;
            }
            .profile_settings_info_item{
                &:first-child{
                    margin: 0;
                }
            }
            [readonly]{
                background-color: rgba(65, 64, 65, 0.6);
                cursor: text;
                &:focus{
                    background-color: $dark-color;
                }
            }
            .button{
                margin-top: 40px;
                @include breakpoint(small down) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        &_info{
            @include breakpoint(medium down) {
                margin-top: 40px;
            }
            .profile_2fa_attention_hex{
                @include breakpoint(medium down) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            p{
                padding-top: 19px;
                @include breakpoint(small down) {
                    font-size: 14px;
                }
            }
        }
    }
}