.profile{
    &_2fa{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 55px;
        margin-bottom: 70px;
        &_hex{
            @include hexagon(57, $medium-black, 2, $dark-color);
            margin-right: 40px;
            font-size: 36px;
            font-weight: 100;
        }
        &_text{
            a{
                text-decoration: underline;
            }
        }
        &_bottom{
            padding-left: 97px;
            margin-top: 23px;
        }
    }
}