.reveal {
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.24);
    color: $light-black;
    @include breakpoint(small down) {
        padding: 53px 20px 40px;
    }
    &.large {
        width: 100%;
        @include breakpoint(xlarge down) {
            width: calc(100% - 40px);
        }
        @include breakpoint(small down) {
            width: 100%;
        }
    }
    &.fade-in.mui-enter {
        transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
        &.mui-enter-active {
            transform: translate3d(0, 0, 0) perspective(435px) rotateX(0);
        }
    }
    &.fade-out.mui-leave {
        transform: translate3d(0, 0, 0) perspective(435px) rotateX(0);
        &.mui-leave-active {
            transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
        }
    }
    &_header {
        padding: 0 7%;
        color: $medium-black;
        text-align: center;
        @include breakpoint(small down) {
            padding: 0;
        }
        &--left {
            text-align: left;
            padding-left: 0;
            @include breakpoint(medium down) {
                text-align: center;
                padding-left: 7%;
            }
        }
        &_hex{
            @include hexagon(57, $white, 2, $medium-gray);
            font-size: 36px;
            color: #adb5bd;
            font-weight: 100;
            margin-right: 14px;
        }
    }

    &_descr {
        text-align: center;
        margin-top: 17px;
        &--bold {
            font-weight: 700;
            @include breakpoint(small down) {
                margin-top: 13px;
            }
        }
    }

    a {
        color: $medium-black;
    }
    
    [type="text"],
    [type="email"],
    [type="number"] {
        border-color: $medium-gray;
        background-color: #f1f3f5;
        color: $black;
        &::placeholder {
            color: rgba($medium-black, 0.5);
        }
    }
    :-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus,
    :-webkit-autofill:active {
        box-shadow: 0 0 0px 1000px #f1f3f5 inset;
        -webkit-text-fill-color: $black;
    }

    &_method{
        padding: 30px 50px 50px;
        &_header{
            padding: 0;
            display: flex;
            align-items: center;
        }
        &_table{
            margin-top: 32px;
            th{
                font-weight: 600;
                padding: 20px;
                &:first-child{
                    text-align: left;
                }
                &:nth-child(even){
                    background-color: #f1f3f5;
                }
            }
            td{
                border-top: 1px solid $medium-gray;
                padding: 10px 20px;
                &:not(:first-child){
                    text-align: center;
                }
                &:nth-child(even) {
                    background-color: #f1f3f5;
                }
            }
        }
    }
    &_startengine{
        padding: 80px 57px 75px;
        background-color: $light-black;
        border: 0;
        color: $white;
        text-align: center;
        &_header{
            color: $white;
            padding: 0;
            margin-bottom: 46px;
        }
        &_list{
            margin: 45px 0;
            li{
                display: flex;
                align-items: center;
                margin: 4px 0;
                &::before {
                    content: '';
                    flex: 0 0 10px;
                    width: 10px;
                    height: 12px;
                    background-image: url(../img/hexagons/list.svg);
                    margin-right: 14px;
                }
            }
        }
    }

    &_success {
        padding: 80px 0 0 0;
        @include breakpoint(small down) {
            padding-top: 50px;
        }
        &::before {
            position: absolute;
            left: 0;
            content: '';
            background-image: url(../img/hexagons/bg/5.svg);
            background-size: cover;
            background-position: center right;
            background-repeat: no-repeat;
            z-index: -1;
            width: 129px;
            height: 201px;
            top: 187px;
            @include breakpoint(small down) {
                display: none;
            }
        }
        &::after {
            position: absolute;
            content: '';
            background-image: url(../img/hexagons/bg/5.svg);
            background-size: cover;
            background-position: center right;
            background-repeat: no-repeat;
            z-index: -1;
            width: 132px;
            height: 201px;
            top: 130px;
            right: 0;
            background-position: center left;
            @include breakpoint(small down) {
                display: none;
            }
        }
        &--min {
            .reveal_success_bottom {
                display: none;
            }
        }
        &_content {
            padding: 58px 20px 90px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint(small down) {
                padding-bottom: 60px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 38px;
                left: 40px;
                width: 68px;
                height: 77px;
                background-image: url(../img/hexagons/bg/1.svg);
                @include breakpoint(small down) {
                    display: none;
                }
            }
            img{
                margin-bottom: 58px;
            }
        }
    }
}

.fade-in.mui-enter {
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0;
    transition-property: all;
}

.fade-in.mui-enter.mui-enter-active {
    opacity: 1;
}

.fade-out.mui-leave {
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    opacity: 1;
    transition-property: all;
}

.fade-out.mui-leave.mui-leave-active {
    opacity: 0;
}

.close-button {
    transition: 300ms;
    -webkit-tap-highlight-color: transparent;
    @include breakpoint(small down) {
        top: 23px;
        right: 21px;
    }
    span {
        line-height: 0.3;
        display: block;
        overflow: hidden;
        padding-bottom: 30%;
    }
    &.small {
        color: $white;
    }
}