.profile{
    &_balance{
        background-color: $white;
        border-radius: $global-radius;
        display: flex;
        color: $medium-black;
        margin-bottom: 20px;
        @include breakpoint(small down) {
            position: relative;
            flex-direction: column;
            height: 80px;
            margin: 0 -16px;
            margin-bottom: 24px;
            border-radius: 0;
            transition: 300ms;
            overflow: hidden;
            &:hover, &:focus{
                height: 320px;
                &::after{
                    transform: rotate(180deg);
                }
            }
            &::after {
                content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyMCAxMiI+PGRlZnM+PHBhdGggaWQ9IndxZ2xhIiBkPSJNMjc2IDEwMy40MWwtMS40MS0xLjQxLTguNDktOC40OSAxLjQxLTEuNCA4LjQ5IDguNDggOC40OS04LjQ5IDEuNCAxLjQxLTguNDggOC40OXoiLz48L2RlZnM+PGc+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI2NiAtOTIpIj48dXNlIGZpbGw9IiM0MTQwNDEiIHhsaW5rOmhyZWY9IiN3cWdsYSIvPjwvZz48L2c+PC9zdmc+);
                position: absolute;
                bottom: 30px;
                right: 34px;
                transition: 300ms;
            }
        }
        &_item{
            flex: 1 1 0px;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80px;
            border-right: 1px solid $medium-gray;
            @include breakpoint(medium down) {
                padding-left: 16px;
            }
            @include breakpoint(small down) {
                min-height: 80px;
            }
            &:last-child{
                border: 0;
            }
        }
        &_sum {
            font-size: 20px;
            font-weight: 700;
            margin-top: 4px;
        }
    }
    &_hint{
        @include hexagon(24, $medium-black, 2, #343a40);
        display: inline-flex;
        font-size: 16px;
        font-weight: 600;
        padding-left: 1px;
        margin-left: 20px;
        vertical-align: middle;
        @include breakpoint(small down) {
            margin-left: 10px;
        }
    }
    &_currencies{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px 8px 40px;
        @include breakpoint(xlarge down) {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        @include breakpoint(medium down) {
            max-width: 768px;
        }
        @include breakpoint(small down) {
            margin-left: -10px;
            margin-right: -10px;
        }
        &_header{
            text-align: center;
            @include breakpoint(small down) {
                display: flex;
                align-items: baseline;
                justify-content: center;
            }
        }
    }
    &_currency.profile_currency {
        width: 100%;
        height: 60px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        background-color: $light-black;
        border-radius: $global-radius;
        margin-bottom: 20px;
        color: $white;
        transition: 300ms;
        cursor: pointer;
        @include breakpoint(small down) {
            margin-bottom: 8px;
        }
        &:hover,
        &:focus {
            background-color: $dark-color;
        }
        &--small{
            height: 44px;
            @include breakpoint(medium down) {
                justify-content: center;
            }
        }
        i, img{
            margin-right: 16px;
            &:only-child {
                margin: auto;
            }
        }
    }
    &_send{
        height: 290px;
        background-color: $white;
        color: $medium-black;
        border-radius: $global-radius;
        padding: 30px 40px 40px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 45px;
        @include breakpoint(medium down) {
            padding: 30px 24px 40px;
        }
        @include breakpoint(small down) {
            padding: 34px 16px 40px;
            height: auto;
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: 40px;
            border-radius: 0;
        }
        &_header{
            flex: 1 1 100%;
            margin-bottom: 35px;
            text-align: center;
            color: $medium-black;
            position: relative;
            @include breakpoint(medium down) {
                text-align: left;
            }
            @include breakpoint(small down) {
                text-align: center;
            }
            .close-button{
                font-size: 36px;
                top: 7px;
                right: 0;
                @include breakpoint(small down) {
                    top: -16px;
                    right: -2px;
                }
            }
        }
        &_qr{
            padding: 0 20px;
            @include breakpoint(medium down) {
                padding: 0;
            }
            @include breakpoint(small down) {
                display: none;
            }
            img{
                max-width: 160px;
            }
        }
        &_wallet{
            flex: 1 1 calc(100% - 200px);
            text-align: center;
            padding-left: 40px;
            @include breakpoint(medium down) {
                padding-left: 24px;
            }
            @include breakpoint(small down) {
                padding: 0;
            }
            .profile_2fa_print_copy{
                margin: 0 0 35px;
            }
        }
    }
    &_exchange{
        background-color: $white;
        margin: 40px auto;
        padding: 40px 24px;
        border-radius: $global-radius;
        max-width: 550px;
        text-align: center;
        @include breakpoint(medium down) {
            max-width: none;
            margin-bottom: 60px;
        }
        @include breakpoint(small down) {
            margin: 36px -16px 40px;
            border-radius: 0;
            padding: 40px 16px;
        }
        [type="number"], select {
            border-color: $medium-gray;
            background-color: #f1f3f5;
            color: $black;
            &::placeholder {
                color: rgba($medium-black, 0.5);
            }
        }
        :-webkit-autofill,
        :-webkit-autofill:hover,
        :-webkit-autofill:focus,
        :-webkit-autofill:active {
            box-shadow: 0 0 0px 1000px #f1f3f5 inset;
            -webkit-text-fill-color: $black;
        }
        &_tokens{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include breakpoint(medium down) {
                max-width: 555px;
                margin: auto;
            }
            @include breakpoint(small down) {
                flex-direction: column;
                align-items: stretch;
                text-align: center;
                .icon{
                    margin: 13px auto;
                    transform: rotate(90deg);
                }
            }
        }
        &_token{
            display: flex;
            max-width: 200px;
            @include breakpoint(small down) {
                max-width: 100%;
            }
            input{
                min-width: 120px;
                border-right: 0 !important;
                border-radius: $global-radius 0 0 $global-radius;
            }
            select{
                flex: 0 0 80px;
                border-left: 0;
                border-radius: 0 $global-radius $global-radius 0;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczphdm9jb2RlPSJodHRwczovL2F2b2NvZGUuY29tLyIgdmlld0JveD0iMCAwIDEwIDciPjxkZWZzPjxwYXRoIGQ9Ik0xMzM3LjAwMDIxLDgwMC40MTM4MmwtMS40MTQ4MywtMS40MTM5bDAuMDAwNDksLTAuMDAwNDVsLTIuODI4MjUsLTIuODI4MjVsMS40MTM4OCwtMS40MTM5bDIuODI4MjUsMi44MjgyNWwyLjgyODI1LC0yLjgyODI1bDEuNDE0NzksMS40MTM5bC0yLjgyODY3LDIuODI4N3oiIGlkPSJQYXRoLTAiLz48L2RlZnM+PGcgdHJhbnNmb3JtPSJtYXRyaXgoMSwwLDAsMSwtMTMzMiwtNzk0KSI+PHVzZSB4bGluazpocmVmPSIjUGF0aC0wIiBmaWxsPSIjMjAxZTIwIiBmaWxsLW9wYWNpdHk9IjEiLz48L2c+PC9zdmc+);
            }
        }
        &_labels{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin: 20px 0;
            @include breakpoint(medium down) {
                max-width: 555px;
                margin: 20px auto;
            }
        }
        &_bonus{
            color: $medium-black;
        }
        &_label{
            color: $primary-color;
            font-size: 20px;
            font-weight: 700;
        }
    }
    &_promo{
        max-width: 550px;
        margin: 75px auto 0;
        padding: 33px 24px 40px;
        border: 1px solid $dark-color;
        background-color: $light-black;
        border-radius: $global-radius;
        @include breakpoint(medium down) {
            margin-top: 58px;
            max-width: 100%;
        }
        @include breakpoint(small down) {
            margin-top: 40px;
            padding-left: 16px;
            padding-right: 16px;
        }
        &_header{
            text-align: center;
            margin-bottom: 26px;
            @include breakpoint(small down) {
                margin-bottom: 20px;
            }
        }
        .form{
            max-width: 100%;
            input{
                margin-right: 20px;
            }
        }
    }
}