.profile{
    &_settings{
        &_info{
            max-width: 550px;
            margin: 52px auto 0;
            @include breakpoint(small down) {
                margin-top: 36px;
            }
            &_header{
                text-align: center;
            }
            &_item{
                margin-top: 25px;
            }
            &_label{
                color: $white;
                margin-bottom: 12px;
                @include breakpoint(small down) {
                    font-size: 14px;
                }
                .profile_hint{
                    vertical-align: baseline;
                    @include breakpoint(small down) {
                        display: none;
                    }
                }
            }
            .button{
                margin-top: 40px;
                @include breakpoint(small down) {
                    width: 100%;
                }
            }
        }
    }
}