.profile{
    &_settings{
        &_info{
            max-width: 550px;
            margin: 52px auto 0;
            &_header{
                text-align: center;
            }
            &_item{
                margin-top: 25px;
            }
            &_label{
                font-size: 20px;
                letter-spacing: 0.8px;
                color: $white;
                line-height: 24px;
                margin-bottom: 12px;
                .profile_hint{
                    vertical-align: top;
                }
            }
            .button{
                margin-top: 40px;
            }
        }
    }
}