.profile_2fa_attention
    .profile_2fa_attention_hex
        span !
    .profile_2fa_attention_text
        | The security of your tokens, transactions, wallets and passwords are your responsibility.
        br
        | Please setup
        | 
        a(href="./profile_2fa.html") Two-Factor Authentication
        | 
        | for more security.
    .profile_2fa_attention_bottom
        a.button.hollow.icon(href="./profile_2fa.html")
            | Enable Two-Factor Authentication
            i.icon.icon--arrow