.profile_2fa
    .profile_2fa_hex
        span !
    .profile_2fa_text
        | The security of your tokens, transactions, wallets and passwords are your responsibility.
        br
        | Please setup
        | 
        a(href="#") Two-Factor Authentication
        | 
        | for more security.
    .profile_2fa_bottom
        a.button.hollow.icon(href="#")
            | Enable Two-Factor Authentication
            i.icon.icon--arrow