include _bonus
.profile_bonuses_presale
    h2.profile_bonuses_presale_header
        | Pre-Sale First week +10%
        br
        | Whitelist Member Pre-Sale 1-2nd week +15%
    a.button.primary.spaced(href="#")
        | BUY TOKENS WITH +25%
h3.profile_bonuses_header
    | Token Bonus by Collected Amount (During all the period)
table.profile_bonuses_table
    tr
        td 0 - $1.5M
        td 10%
    tr
        td $1.5M - $5M
        td 7%
    tr
        td $5M - $7M
        td 5%
    tr
        td $7M - $12M
        td 3%

h3.profile_bonuses_header
    | Token Bonus by Time. Pre-Sale
table.profile_bonuses_table
    tr
        td First week
        td 10%

h3.profile_bonuses_header
    | WhiteList Bonus. Pre-Sale period First and Second week
table.profile_bonuses_table
    tr
        td Whitelist members
        td 15%