#method.reveal.reveal_method(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h3.reveal_header.reveal_method_header
        .reveal_header_hex
            span ?
        | Payments Method Times and Speeds
    table.reveal_method_table
        tr
            th Payment method
            th Confirmations
            th Speed
        tr
            td Ether
            td 6
            td 2 min
        tr
            td Bitcoin
            td 2
            td 30 min
        tr
            td Litecoin
            td 6
            td 2 min
        tr
            td BitcoinCash
            td 2
            td 30 min
        tr
            td USD/fiat
            td
                | wire
                br
                | (by StartEngine)
            td 1-2 days

    button.close-button(aria-label='Close', type='button', data-close)
        span(aria-hidden='true') ×

#startengine.reveal.reveal_startengine(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header.reveal_startengine_header
        | Buy LVL tokens on StartEngine
    img(src="./img/logo_engine.png", alt="SmartEngine")
    ul.menu.vertical.reveal_startengine_list
        li
            h4 Leading crowdfunding network security
        li
            h4 Pay with VISA in USD
        li
            h4 Special prices for LVL buyers
    a.button.short.primary.spaced(href="https://www.startengine.com/levelnet" target="_blank")
        | BUY TOKENS
    button.close-button(aria-label='Close', type='button', data-close)
        span(aria-hidden='true') ×

#thank.reveal.reveal_success(data-reveal data-animation-in="fade-in" data-animation-out="fade-out")
    h2.reveal_header
        | Thank you for purchase!
    p.reveal_descr.reveal_descr--bold
        | 20LVL sent to your wallet
    .reveal_success_content
        img(src="./img/icons/appreciations.svg", alt="Thank you")
        a.button.short.primary.spaced(href="./profile_purchase.html")
            | CHECK WALLET
    button.close-button(aria-label='Close', type='button', data-close)
        span(aria-hidden='true') ×