h2.profile_referral_header--big Share the Referral link with friends
h4.profile_referral_header
    | and get
    | 
    b 5%
    | 
    | for every LVL token they buy
h4.profile_referral_header--small Your link
.profile_referral_link
    input(type="url" id="link" value="https://ico.darenta.io/?ref=81ae0550f7dce75bcd368e93" readonly)
    button.button.short.primary.spaced(data-clipboard-target="#link")
        | COPY LINK
ul.menu.vertical.profile_referral_steps
    li.profile_referral_step
        .profile_referral_step_hex
            i.icon.icon--check
        .profile_referral_step_label
            | Share the project with your friends and other interested parties.
    li.profile_referral_step
        .profile_referral_step_hex
            i.icon.icon--check
        .profile_referral_step_label
            | If any of them sign up with this link, they will be added to your referral program.
    li.profile_referral_step
        .profile_referral_step_hex
            i.icon.icon--check
        .profile_referral_step_label
            | If any of them sign up with this link, they will be added to your referral program.
    
h4.profile_referral_header--share
    | Share the project
+social(6, 'profile')