.profile_wallet
    p.profile_wallet_header
        | Please provide us with your Ethereum wallet address to simplify token distribution.
    a(href=page==='settings'?"#info":"./profile_settings.html#info" data-smooth-scroll=page==='settings'?true:false).button.short.dark.spaced
        | ADD WALLET