.profile_wallet
    p.profile_wallet_header
        | Please provide us with your Ethereum wallet address to simplify token distribution.
    a(href="./profile_settings.html").button.short.dark.spaced
        | ADD WALLET