#zcwMiniButton {
  right: 20px !important;
  bottom: 180px !important;
  width: 60px !important;
  height: 60px !important; }

#zcwMiniButton #zcwMiniButtonMain {
  width: 60px !important;
  height: 60px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

@media only screen and (min-width: 960px) {
  .zcwPopup {
    margin: -130px 0 0 -297px !important; } }

.zcwPopup {
  opacity: 1 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 20px !important;
  background-color: #414041 !important; }

.zcwPopup-title,
.zcwPopup-description,
.zcwPopup-content {
  color: #fff !important; }

.zcwPopup-title,
.zcwPopup-description {
  padding-bottom: 16px !important; }

.zcwPopup-close {
  top: 20px !important;
  right: 22px !important; }

.zcwPopup input[type="submit"] {
  width: 200px !important;
  height: 36px !important;
  margin-top: 20px;
  background-color: #E53939 !important;
  cursor: pointer !important;
  color: #fff !important;
  font: 700 1rem/1 "SF UI Display", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
  letter-spacing: 1.12px !important;
  text-align: center !important;
  text-transform: uppercase !important; }

.zcwPopup input,
.zcwPopup select {
  padding: 0 8px;
  border: none !important;
  border-radius: 4px !important;
  background-color: #201e20 !important;
  color: #fff !important; }
