.about{
    padding-bottom: 25px;
    &_video{
        display: block;
        margin: 95px 0;
    }
    &_box{
        > h3{
            margin-bottom: 11px;
        }
        &_bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 190px;
            h2{
                margin: 0;
            }
            h3 {
                margin-bottom: 5px;
            }
        }
    }
    &_graph{
        margin-top: 36px;
        margin-bottom: 55px;
        &_container{
            position: relative;
            margin-bottom: 40px;
        }
        &_map{
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $medium-gray;
            }
            &::after{
                @extend .about_graph_map::before;
                width: 1px;
                height: 100%;
                left: 50%;
                top: 0;
            }
            svg{
                display: block;
                max-width: 648px;
                margin: auto;
            }
            .b {
                fill: none;
                stroke: #ced4da;
            }

            path {
                fill: $secondary-color;
                transition: 300ms;
            }

            .d{
                fill: $light-black;
                font-size: 14px;
                letter-spacing: 0.04em;
            }
            .f {
                font-weight: 700;
            }
            &_group{
                opacity: 1;
                transition: 300ms;
                &.is_hide{
                    opacity: 0;
                }
                $yrs: 2019, 2020;
                @each $yr in $yrs{
                    &--#{$yr} {
                        .about_graph_map_item--red#{$yr} {
                            path{
                                fill: $primary-color
                            }  
                        }
                    }
                }
                &--2021 {
                    .c {
                        fill: $primary-color
                    }
                }
            }
            &_item{
                &--green {
                    path {
                        fill: $tertiary-color
                    }
                }
            }
        }
        &_label{
            position: absolute;
            font-size: 14px;
            line-height: 1.14;
            width: 120px;
            text-align: center;
            padding: 6px;
            letter-spacing: 0.56px;
            color: $light-black;
            background-color: $medium-gray;
            border-radius: $global-radius;
            &--top{
                top: 0;
            }
            &--bottom{
                bottom: 0;
            }
            &--left{
                left: 0;
            }
            &--right{
                right: 0;
            }
        }
        &_comment{
            position: absolute;
            top: 48px;
            left: 0;
            width: 285px;
            color: $medium-gray;
            font-size: 14px;
            letter-spacing: 0.56px;
            padding: 16px;
            border-radius: $global-radius;
            background-color: $input-background-focus;
            line-height: 1.29;
            &_inner{
                display: none;
                &.is_visible{
                    display: block;
                }
            }
        }
        &_timeline{
            position: relative;
            // height: 2px;
            margin-bottom: 60px;
            &_arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: ew-resize;
                outline: none;
            }
            &_years{
                border-top: 2px solid $medium-gray;
                padding-top: 22px;
                background-image: url(../img/ruller.svg);
                background-position: center top -1px;
                background-repeat: no-repeat;
                display: flex;
                justify-content: space-between;
            }
        }
        &_copyright{
            text-align: right;
            color: $dark-gray;
            font-size: 14px;
            letter-spacing: 0.56px;
        }
    }
    .hexagon{
        &--4{
            top: 360px;
            right: calc(50% - 750px);
        }
        &--3{
            top: 560px;
            left: calc(50% - 750px);
        }
    }
}