.button{
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    letter-spacing: 0.6px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover,
    &:focus {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    @include breakpoint(small down) {
        &.button:not(.short){
            min-width: auto !important;
            width: 100%;
            &:not(.hollow){
                justify-content: center;
                text-align: center;
            }
        }
    }
    &.hollow.hollow{
        background-color: rgba(28, 26, 28, 0.65);
        border-color: $light-black;
        box-shadow: none;
        &:hover, &:focus{
            background-color: $light-black;
        }
        &.clean {
            background: none;
            border-color: #495057;
            &:hover,
            &:focus {
                opacity: 0.8;
            }
        }
    }
    &.thin{
        font-weight: 400;
    }   
    &.icon{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(small down) {
            &:not(.short) .icon{
                display: none;
            }
        }
        .icon{
            margin-left: 20px;
            transition: 300ms;
        }
        &.up{
            .icon{
                transform: rotate(-90deg);
            }
        }
    }
    &.spaced{
        letter-spacing: 1.12px;
    }
    &.long{
        min-width: 360px;
        @include breakpoint(small down) {
            padding-left: 4px;
            padding-right: 4px;
            letter-spacing: 0.5px;
        }
    }
    &.shorter {
        min-width: 260px;
    }
    &.short {
        min-width: 200px;
    }
    &.wide{
        width: 100%;
    }
}