.faq{
    padding: 85px 0 10px;
    &_inner{
        margin-top: 35px;
        margin-bottom: 50px;
    }
    &_item{
        display: flex;
        align-items: center;
        margin-top: 20px;
        transition: 300ms;
        margin-left: 6px;
        &[aria-expanded="true"] {
            .faq_item {
                &_icon {
                    border-color: $dark-gray;
                    &::before,
                    &::after {
                        border-color: $dark-gray;
                    }
                }
            }
        }
        &_icon{
            @include hexagon(66, #1c1a1c, 2, #343a40, null);
            color: $medium-gray;
            font-size: 32px;
            font-weight: 700;
            margin-right: 24px;
            transition: 300ms;
            &::before,
            &::after {
                transition: 300ms;
            }
        }
        &_question{
            font-size: 20px;
            letter-spacing: 0.8px;
        }
        &_answer{
            margin-left: 96px;
            padding-bottom: 8px;
            line-height: 1.47;
        }
    }
    .hexagon{
        top: 586px;
        right: calc(50% - 720px);
    }

    &--light{
        background-color: #f8f9fa;
        padding-top: 80px;
        padding-bottom: 60px;
        h2{
            color: $medium-black;
        }
        .tabs {
            margin-top: 50px;
            background: none;
            border: 0;
            border-bottom: 1px solid $medium-gray;
            &-title {
                width: 50%;
                a {
                    color: $medium-black;
                    font-size: 20px;
                    letter-spacing: 0.8px;
                    margin: 0;
                    text-align: center;
                    transition: border-color 300ms;
                    &[aria-selected='true'] {
                        font-weight: 700;
                        border-bottom-color: $secondary-color;
                    }
                }
            }
            &-content {
                background: none;
                border: 0;
            }
            &-panel {
                padding: 0;
            }
        }
        .faq{
            &_inner{
                margin-top: 60px;
                margin-bottom: 0;
            }
            &_item{
                color: $medium-black;
                &_answer{
                    color: $medium-black;
                }
                &_icon{
                    background-color: $white;
                    color: $input-background-focus;
                    border-color: $medium-gray;
                    &::before, &::after{
                        border-color: $medium-gray;
                    }
                }
                &[aria-expanded="true"]{
                    .faq_item_icon{
                        border-color: $secondary-color;
                        &::before,
                        &::after {
                            border-color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}