.form{
    max-width: 473px;
    @include breakpoint(small down) {
        max-width: 100%;
        .button{
            font-size: 14px;
            padding: 0.93em 1.334em;
        }
    }
    &_form{
        position: relative;
        display: flex;
        @include breakpoint(small down) {
            flex-direction: column;
        }
    }
    &_header {
        margin-bottom: 15px;
        font-weight: 600;
    }
    input{
        margin-right: 8px;
        @include breakpoint(small down) {
            margin: 0 0 8px 0;
        }
    }
    &_note{
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        color: $dark-gray;
        font-size: 14px;
        letter-spacing: 0.56px;
        @include breakpoint(medium down) {
            right: auto;
            left: 0;
        }
        @include breakpoint(small down) {
            font-size: 13px;
        }
        span{
            color: $medium-gray;
        }
    }
}