.form{
    max-width: 473px;
    &_form{
        position: relative;
        display: flex;
    }
    &_header {
        margin-bottom: 15px;
        font-weight: 600;
    }
    input{
        margin-right: 8px;
    }
    &_note{
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        color: $dark-gray;
        font-size: 14px;
        letter-spacing: 0.56px;
        span{
            color: $medium-gray;
        }
    }
}