.head{
    border-top: 0;
    padding: 152px 30px;
    @include breakpoint(medium down) {
        padding: 166px 30px 143px;
    }
    @include breakpoint(small down) {
        padding: 107px 6px 128px;
        border-bottom: 0;
        &::before{
            width: 130%;
        }
        &::after{
            display: none;
        }
    }
    &--small{
        padding-bottom: 95px;
        @include breakpoint(medium down) {
            padding-bottom: 0;
            margin-bottom: 54px;
            .head_content{
                &_left {
                    margin-bottom: 8px;
                }
                &_right{
                    position: static;
                }
            }
            .social{
                position: absolute;
                top: calc(100% + 40px);
                left: 50%;
                transform: translateX(-50%);
                flex-wrap: nowrap;
            }
        }
        @include breakpoint(small down) {
            margin-bottom: 128px;
            border-bottom: 1px solid $light-black;
            .head_content {
                &_left {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--product{
        @include breakpoint(medium down) {
            padding-bottom: 168px;
            margin-bottom: 0;
            .head_list{
                margin-bottom: 0;
            }
            
            .form{
                margin: auto;
                
                &_header{
                    text-align: center;
                }
            }
            .social{
                top: auto;
                bottom: 55px;
            }
        }
        @include breakpoint(small down) {
            padding-bottom: 148px;
            .head_subs{
                margin-top: 36px;
            }
        }
    }
    &_content{
        padding-top: 66px;
        @include breakpoint(medium down) {
            padding-top: 38px;
        }
        &_left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include breakpoint(medium down) {
                margin-bottom: 95px;
            }
            @include breakpoint(small down) {
                margin-bottom: 80px;
            }
        }
        &_right{
            position: relative;
            .social{
                float: right;
            }
        }
    }
    &_list{
        @include breakpoint(medium down){
            margin-bottom: 22px;
        }
        @include breakpoint(small down) {
            margin-bottom: 45px;
        }
        li{
            display: flex;
            align-items: center;
            margin: 10px 0;
            @include breakpoint(medium down) {
                margin: 9px 0;
            }
            @include breakpoint(small down) {
                align-items: baseline;
            }
            &::before{
                content: '';
                flex: 0 0 10px;
                width: 10px;
                height: 12px;
                background-image: url(../img/hexagons/list.svg);
                margin-right: 14px;
            }
        }
    }
    &_subs{
        margin-top: 60px;
    }
}