$icons: (
    ('arr_graph', 16, 16, false),
    ('arrow', 18, 12, false),
    ('minus', 20, 2, false),
    ('check', 24, 17, false),
    ('check_gray', 23, 17, false),
    ('angellist', 15, 21, false),
    ('linkedin_square', 21, 21, false),
    ('file', 22, 28, false),
    ('download', 22, 17, false),
    ('management', 62, 63, false)
);

.icon{
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @each $icon in $icons {
        &--#{nth($icon, 1)} {
            width: #{nth($icon, 2)}px;
            height: #{nth($icon, 3)}px;
            @if nth($icon, 4) {
                background-image: url('../img/icons/#{nth($icon, 4)}/#{nth($icon, 1)}.svg')
            } @else {
                background-image: url('../img/icons/#{nth($icon, 1)}.svg')
            }
        }
    }
}