$icons: (
    ('arr_graph', 16, 16),
    ('arrow', 18, 12),
    ('minus', 20, 2),
    ('check', 24, 17),
    ('check_gray', 23, 17),
    ('angellist', 15, 21),
    ('linkedin_square', 21, 21),
    ('file', 22, 28),
    ('download', 22, 17),
    ('management', 62, 63),
    ('usd', 24, 24),
    ('visa', 51, 16),
    ('exchange', 24, 12)
);

.icon{
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @each $icon in $icons {
        &--#{nth($icon, 1)} {
            width: #{nth($icon, 2)}px;
            height: #{nth($icon, 3)}px;
            background-image: url('../img/icons/#{nth($icon, 1)}.svg')
        }
    }
}