.ico{
    padding: 80px 10px;
    @include breakpoint(medium down) {
        padding: 60px 10px;
    }
    @include breakpoint(small down) {
        padding: 57px 0 50px;
    }
    &--pre_ico{
        .ico{
            &_box{
                &_top {
                    h3 {
                        margin: 18px 0 70px;
                        color: $medium-black;
                        @include breakpoint(small down) {
                            margin-bottom: 54px;
                        }
                    }
                    .countdown{
                        margin-bottom: 63px;
                        @include breakpoint(small down) {
                            margin-bottom: 52px;
                        }
                        &_course{
                            margin-bottom: 70px;
                            @include breakpoint(small down) {
                                margin-bottom: 52px;
                            }
                            b{
                                color: $medium-black;
                            }
                        }
                    }
                }
                &_content{
                    margin-top: 0;
                }
            }
        }
    }
    &_box{
        text-align: center;
        &--hex{
            position: relative;
            z-index: 1;
            &::before {
                position: absolute;
                top: 76px;
                left: 0;
                content: '';
                width: 151px;
                height: 251px;
                background-image: url(../img/hexagons/bg/5.svg);
                background-size: cover;
                background-position: center right;
                background-repeat: no-repeat;
                z-index: -1;
            }
            &::after {
                @extend .ico_box--hex::before;
                left: auto;
                right: 0;
                background-position: center left;
            }
            @include breakpoint(small down) {
                &::before, &::after{
                    display: none;
                }
            }
        }
        &_descr{
            color: $dark-gray;
            @include breakpoint(small down) {
                font-size: 14px;
                letter-spacing: 0.56px;
            }
            b {
                color: $light-black;
            }
        }
        &_stat{
            margin: 75px -95px 0;
            padding: 0 22%;
            height: 108px;
            border-top: 1px solid #dee2e6;
            display: flex;
            justify-content: space-around;
            @include breakpoint(medium down) {
                margin: 75px -20px 0;
                padding: 0 16px;
            }
            @include breakpoint(small down) {
                margin: 58px -20px 0;
            }
            &_item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include breakpoint(small down) {
                    align-items: flex-start;
                    font-size: 14px;
                    letter-spacing: 0.56px;
                }
            }
        }
        &_content{
            margin-top: 55px;
            margin-bottom: 55px;
            padding-top: 53px;
            padding-bottom: 65px;
            @include breakpoint(medium down) {
                margin-top: 60px;
                padding: 65px 20px;
            }
            @include breakpoint(small down) {
                margin-top: 35px;
                margin-bottom: 32px;
                padding: 32px 16px 27px;
                &::before{
                    width: 120%;
                }
                &::after{
                    display: none;
                }
            }
        }
        &_offers{
            max-width: 695px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;
            @include breakpoint(small down) {
                padding-top: 5px;
            }
        }
        &_offer{
            width: 50%;
            display: flex;
            align-items: center;
            margin-top: 20px;
            text-align: left;
            @include breakpoint(medium down) {
                br {
                    display: none;
                }
            }
            @include breakpoint(small down) {
                width: 100%;
                margin-top: 13px;
            }
            &_icon{
                @include hexagon(51, #f8f9fa, 2, $medium-gray, null);
                margin-right: 20px;
            }
        }
        &_footer{
            &_note{
                margin-top: 34px;
                color: $dark-gray;
                font-size: 14px;
                letter-spacing: 0.56px;
            }
        }
        &_hexagons{
            max-width: 510px;
            margin: 35px auto;
            display: flex;
            justify-content: space-between;
            @include breakpoint(small down) {
                margin: 23px auto 27px;
            }
        }
        &_hex{
            @include hexagon(118, $white, 2, $medium-gray);
            @include breakpoint(small down) {
                @include hexagon(90, $white, 2, $medium-gray);
            }
            &_percent{
                font-size: 24px;
                letter-spacing: 0.96px;
                margin-bottom: 3px;
                @include breakpoint(small down) {
                    font-size: 17px;
                    letter-spacing: 0.68px;
                }
                &--primary{
                    color: $primary-color;
                }
                &--secondary {
                    color: $secondary-color;
                }
                &--tertiary {
                    color: $tertiary-color;
                }
                span{
                    font-size: 36px;
                    @include breakpoint(small down) {
                        font-size: 26px;
                    }
                }
            }
            &_cap{
                @include breakpoint(small down) {
                    font-size: 12px;
                }
            }
        }
    }
    .hexagon{
        top: 560px;
        left: calc(50% - 620px);
    }
}