.kit{
    padding-top: 85px;
    &_inner{
        margin-top: 52px;
    }
    &_releases{
        margin-bottom: 37px;
    }
    &_release{
        margin-top: 31px;
        &_title{
            line-height: 1.33;
        }
        &_more.kit_release_more {
            color: $secondary_dark;
            font-weight: 700;
            margin-left: 12px;
            svg{
                margin-left: 7px;
                vertical-align: middle;
            }
            path{
                fill: $secondary_dark;
            }
        }
        &_date{
            margin-top: 10px;
            color: $dark-gray;
            font-size: 14px;
            letter-spacing: 0.56px;
        }
    }
    &_materials{
        margin-top: 18px;
        margin-bottom: 40px;
    }
    &_material{
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        &[aria-expanded="true"]{
            .kit_material{
                &_icon {
                    border-color: $dark-gray;
                    &::before,
                    &::after {
                        border-color: $dark-gray;
                    }
                }
                &_label{
                    &::after{
                        transform: rotate(0deg);
                    }
                }
            }
        }
        &_icon{
            @include hexagon(66, $medium-black, 2, #343a40, null);
            margin-right: 24px;
            transition: 300ms;
            &::before, &::after{
                transition: 300ms;
            }
        }
        &_label{
            &::after{
                content: '';
                width: 11px;
                height: 8px;
                display: inline-block;
                background-image: url(../img/icons/arrow_down.svg);
                margin-left: 12px;
                background-size: cover;
                transform: rotate(-90deg);
                transition: 300ms;
            }
        }
        &_content{
            margin-bottom: 40px;
        }
    }
    &_tab {
        &_panel{
            padding: 0;
            overflow: hidden;
        }
        .icon {
            margin-right: 15px;
        }
        &_content{
            padding: 10px 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &_item{
            display: block;
            margin: 12px 0;
            width: 50%;
        }
        &_bottom{
            padding: 12px 25px;
            border-top: 1px solid #31373c;
        }
    }
    .hexagon{
        &--1{
            top: 100px;
            right: calc(50% - 530px);
        }
        &--3{
            top: 374px;
            left: calc(50% - 630px);
        }
        &--6{
            top: 630px;
            right: calc(50% - 675px);
        }
    }
}