@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFUIDisplay/SFUIDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

// @font-face {
//     font-family: 'SF UI Display';
//     src: url('../fonts/SFUIDisplay/SFUIDisplay-Ultralight.woff2') format('woff2'),
//         url('../fonts/SFUIDisplay/SFUIDisplay-Ultralight.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
// }

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFUIDisplay/SFUIDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay/SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'SF UI Display';
//     src: url('../fonts/SFUIDisplay/SFUIDisplay-Black.woff2') format('woff2'),
//         url('../fonts/SFUIDisplay/SFUIDisplay-Black.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay/SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay/SFUIDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// @font-face {
//     font-family: 'SF UI Display';
//     src: url('../fonts/SFUIDisplay/SFUIDisplay-Heavy.woff2') format('woff2'),
//         url('../fonts/SFUIDisplay/SFUIDisplay-Heavy.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'SF UI Display';
//     src: url('../fonts/SFUIDisplay/SFUIDisplay-Light.woff2') format('woff2'),
//         url('../fonts/SFUIDisplay/SFUIDisplay-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: 'EurofontExtendedC';
    src: url('../fonts/EurofontExtendedC/EurofontExtendedC.woff2') format('woff2'),
        url('../fonts/EurofontExtendedC/EurofontExtendedC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'EurofontExtendedC';
//     src: url('../fonts/EurofontExtendedC/EurofontExtendedC-Bold.woff2') format('woff2'),
//         url('../fonts/EurofontExtendedC/EurofontExtendedC-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: $global-radius;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px rgba(65, 64, 65, 0.6) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white;
    border: 1px solid #868e96;
}

html, body{
    -webkit-overflow-scrolling: touch;
    letter-spacing: 0.6px;
}

.wrap {
    overflow: hidden;
    min-width: 320px;
    &--headless{
        padding-top: 85px;
        @include breakpoint(small down) {
            padding-top: 57px;
        }
    }
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select,
button {
    outline: none;
    &:invalid:not(:focus):not(:placeholder-shown):not(select) {
        border-color: $primary-color;
        box-shadow: inset 0 0 0 1px $primary-color;
    }
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    + label {
        user-select: none;
        color: $input-background-focus;
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            background-color: $secondary-color;
            border-radius: $global-radius;
            margin-right: 6px;
            color: $white;
            border: 1px solid $secondary_dark;
            background-position: center;
            background-repeat: no-repeat;
        }
        a{
            color: $input-background-focus;
            text-decoration: underline;
            &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
    &:checked {
        +label {
            &::before {
                background-image: url(../img/icons/check_min.svg);
            }
        }
    }
}

a{
    transition: 300ms;
    &[data-open]{
        outline: none;
        user-select: none;
    }
}

select{
    padding-right: 20px;
}

section {
    position: relative;
}

h1{
    letter-spacing: 1.68px;
    @include breakpoint(medium down) {
        letter-spacing: 1.36px;
        line-height: 1.41;
    }
    @include breakpoint(small down) {
        letter-spacing: 0.96px;
        line-height: 1.33;
    }
}

h2{
    letter-spacing: 1.44px;
    margin-bottom: 7px;
    line-height: 1.194;
    @include breakpoint(medium down) {
        letter-spacing: 1.28px;
        line-height: 1.4
    }
    @include breakpoint(small down) {
        letter-spacing: 0.96px;
        line-height: 1.33;
    }
}

h3{
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.2;
    @include breakpoint(medium down) {
        letter-spacing: 0.72px;
        line-height: 1.56;
        color: $medium-gray;
    }
    @include breakpoint(small down) {
        letter-spacing: 0.64px;
        line-height: 1.38;
    }
}

h4{
    letter-spacing: 0.8px;
    font-weight: 400;
    line-height: 1.4;
    @include breakpoint(medium down) {
        letter-spacing: 0.72px;
        line-height: 1.33;
    }
    @include breakpoint(small down) {
        letter-spacing: 0.64px;
        line-height: 1.38;
    }
}


#zcwMiniButton{
    @include breakpoint(small down){
        display: none;
    }
}