.nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid $light-black;
    transition: 300ms;
    padding: 0 30px;
    @include breakpoint(small down) {
        padding: 0 10px;
        background: $medium-black;
    }
    &.is_filled{
        background: $medium-black;
    }
    &_inner{
        height: 84px;
        padding: 0 10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(.row){
            max-width: 1375px;
        }
        @include breakpoint(small down) {
            height: 56px;
        }
    }
    .logo{
        @include breakpoint(small down) {
            width: 120px;
        }
    }
    &_phone{
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        a {
            display: block;
            @include breakpoint(small down) { 
                span{
                    display: none;
                }
                &::before{
                    display: block;
                    content: 'phone';
                    font-family: 'Material Icons';
                    font-weight: 400;
                    font-style: normal;
                    font-size: 24px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    -webkit-font-feature-settings: 'liga';
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }
    &_profile{
        display: flex;
        align-items: center;
        &_hex{
            @include hexagon(44, $dark-color, 0, none, false, true);
            margin-right: 18px;
            @include breakpoint(xlarge down) {
                margin-right: 0;
            }
        }
        &_user{
            color: $medium-gray;
            font-weight: 700;
            @include breakpoint(xlarge down) {
                display: none;
            }
        }
    }
    &_lang{
        @include breakpoint(xlarge down) {
            margin-right: auto;
            margin-left: 20px;
        }
        @include breakpoint(small down) {
            margin-left: 6px;
            font-size: 14px;
        }
    }
    .hamb{
        position: relative;
        width: 18px;
        height: 12px;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        border-radius: 0;
        margin-left: 40px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        @include breakpoint(small down) {
            margin-left: 22px;
        }
        &::after{
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 100%;
            border-bottom: 2px solid $white;
        }
    }
    &_mobile{
        // &.is-closed{
        //     visibility: visible;
        // }
        padding: 20px;
        &_logo{
            width: 43px;
            margin-bottom: 20px;
        }
        &_menu{
            margin-top: 35px;
            &--large{
                font-size: 18px;
                margin-top: 60px;
                margin-bottom: 35px;
                margin-left: 10px;
                li.active{
                    font-weight: 600;
                }
                a{
                    color: #adb5bd;
                }
            }
            &--bottom{
                font-size: 18px;
                margin: 0;
                padding-top: 30px;
                border-top: 1px solid $dark-color;
                margin: 0 -20px;
                padding-left: 30px;
                li.active {
                    font-weight: 600;
                }
                a {
                    color: #adb5bd;
                }
            }
            a{
                padding: 0;
                display: flex;
                margin-bottom: 25px;
                &.is_active{
                    .nav_mobile_menu{
                        &_hex{
                            background: #00ccff;
                            &::before, &::after{
                                background: #00ccff;
                            }
                        }
                        &_label{
                            font-weight: 600;
                            color: $white;
                        }
                    }
                }
            }
            &_hex{
                @include hexagon(13, #575b60, 0)
            }
            &_label{
                font-size: 14px;
                letter-spacing: 0.56px;
                margin-left: 18px;
            }
        }
    }
}