.pattern {
    position: relative;
    border-top: 1px solid $light-black;
    border-bottom: 1px solid $light-black;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center right;
        background-image: url(../img/pattern.png);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
        transform: scale(-1, -1);
    }
}