.pattern {
    position: relative;
    border-top: 1px solid $light-black;
    border-bottom: 1px solid $light-black;
    background-size: 50% auto;
    background-repeat: no-repeat;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    &::before {
        left: 0;
        background-image: url(../img/patterns/left.png);
        background-position-x: right;
    }
    &::after {
        right: 0;
        background-image: url(../img/patterns/right.png);
        background-position-x: left;
    }
}