.products{
    padding: 30px;
    @include breakpoint(medium down) {
        padding: 0 30px;
    }
    @include breakpoint(small down) {
        padding: 0 6px;
    }
    > .row > .column {
        @include breakpoint(small down) {
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100px;
                height: 400px;
                background-image: linear-gradient(to right, rgba(32, 30, 32, 0) 0%, rgba(32, 30, 32, 0.8) 59%, $medium-black 81%, $medium-black 100%);
                z-index: 2;
            }
        }
    }
    &_overflow{
        overflow: auto;
        @include breakpoint(small down) {
            margin-top: 20px;
            &::after {
                content: 'Scroll right to watch';
                color: $dark-gray;
                font-size: 13px;
                letter-spacing: 0.52px;
                display: block;
                margin-top: 15px;
            }
            
        }
    }
    &_table{
        margin-top: 66px;
        text-align: center;
        @include breakpoint(small down) {
            margin: 0;
            min-width: 688px;
            table-layout: fixed;
            font-size: 14px;
            letter-spacing: 0.56px;
        }
        th{
            padding: 20px;
            border: 1px solid $light-black;
            border-top: 0;
            @include breakpoint(medium down) {
                padding: 20px 10px;
            }
            &:first-child{
                border-left: 0;
                @include breakpoint(small down) {
                    width: 180px;
                }
            }
            &:last-child {
                border-right: 0;
            }
        }
        td{
            padding: 24px 32px;
            border: 1px solid $light-black;
            @include breakpoint(medium down) {
                padding: 24px 13px;
            }
            @include breakpoint(small down) {
                padding: 15px 0;
            }
            &:first-child{
                border-left: 0;
                color: $dark-gray;
                text-align: left;
                @include breakpoint(small down) {
                    padding-right: 20px;
                }
            }
            &:nth-child(2){
                white-space: nowrap;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
    .hexagon{
        &--4{
            top: 230px;
            left: calc(50% - 700px);
        }
    }
}