.services {
    padding: 85px 30px;
    @include breakpoint(medium down) {
        padding: 62px 30px;
    }
    @include breakpoint(small down) {
        padding: 48px 6px 50px;
    }
    &_inner{
        padding: 46px 0;
        @include breakpoint(medium down) {
            padding: 36px 0 40px;
        }
        @include breakpoint(small down) {
            padding: 13px 0 28px;
        }
    }
    .hexagon{
        &--1{
            top: 212px;
            right: calc(50% - 750px);
        }
        &--2 {
            top: 630px;
            right: calc(50% - 815px);
        }
    }
    &_infographics{
        position: relative;
        &::after{
            content: 'No anti-virus is offering the best protection. Each has better and worse detection rate for certain threat types and environments';
            position: absolute;
            top: calc(100% + 10px);
            left: 0;
            font-size: 14px;
            letter-spacing: 0.56px;
            color: #868E96;
            display: block;
            @include breakpoint(medium down) {
                position: static;
                margin-top: 10px;
            }
        }
        @include breakpoint(medium down) {
            margin-top: 44px;
        }
        @include breakpoint(small down) {
            display: none;
        }
    }
}