.sign_up{
    padding: 76px 20px 96px;
    text-align: center;
    @include breakpoint(small down) {
        padding: 60px 20px;
    }
    &_form{
        max-width: 740px;
        margin: auto;
        margin-bottom: 95px;
        padding: 42px 0 50px;
        border: 1px solid $light-black;
        background-color: $medium-black;
        border-radius: $global-radius;
        @include breakpoint(small down) {
            margin-bottom: 60px;
            padding: 0;
            border: 0;
        }
        &_top{
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                margin-right: 40px;
                @include breakpoint(small down) {
                    width: 32px;
                    height: 32px;
                    margin-right: 15px;
                }
            }
            h2{
                margin: 0;
            }
        }
        &_content{
            margin: 60px auto 54px;
            max-width: 360px;
            @include breakpoint(small down) {
                margin: 40px auto 55px;
            }
            input{
                margin-bottom: 24px;
                @include breakpoint(small down) {
                    margin-bottom: 16px;
                }
            }
            .button{
                margin-top: 40px;
            }
        }
        &_bottom{
            color: $dark-gray;
            @include breakpoint(small down) {
                font-size: 14px;
                letter-spacing: 0.56px;
            }
            a{
                color: $medium-gray;
                font-weight: 700;
                text-decoration: underline;
                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }

        &_pass{
            position: relative;
            .all-seeing_eye{
                position: absolute;
                color: $dark-gray;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                user-select: none;
                transition: 300ms;
                &:hover{
                    opacity: 0.8;
                }
                i{
                    display: block;
                }
            }
        }
    }
    .hexagon{
        &--3{
            top: 345px;
            left: calc(50% - 366px);
        }
        &--4{
            top: 523px;
            right: calc(50% - 472px);
        }
    }
}