.social{
    display: inline-flex;
    @include breakpoint(small down) {
        margin: 0 -5px;
        justify-content: center;
        max-width: 298px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 48px;
        height: 48px;
        background-color: #868E96;
        border-radius: $global-radius;
        margin: 0 5px;
        opacity: 0.5;
        transition: 300ms;
        @include breakpoint(small down) {
            margin: 5px;
        }
        &:hover, &:focus{
            opacity: .8;
        }
    }

    &--head {
        position: absolute;
        right: 5px;
        top: calc(100% + 10px);
        flex-wrap: nowrap;
        @include breakpoint(medium down) {
            right: 50%;
            top: calc(100% + 20px);
            transform: translateX(50%);
        }
    }

    &--release {
        a {
            background: none;
            width: 26px;
            height: 26px;
        }
        svg{
            transform: scale(.84)
        }
        use {
            fill: $dark-color
        }
    }

    &--event{
        @extend .social--release;
    }

    &_telegram{
        position: fixed;
        bottom: 100px;
        right: 20px;
        width: 60px;
        height: 60px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
        background-color: #3faeef;
        background-image: url(../img/telegram.svg);
        background-size: 33px auto;
        background-position: 12px center;
        background-repeat: no-repeat;
        border-radius: 50%;
        z-index: 2;
        @include breakpoint(small down) {
            width: 100%;
            height: 36px;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0;
            background-size: 22px auto;
            background-position: 8px center;
            padding-left: 38px;
            padding-right: 10px;
            &::before{
                content: 'Join Telegram chat';
                color: $white;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.56px;
            }
        }
        .icon{
            display: none;
            @include breakpoint(small down) {
                display: block;
            }
        }
    }
}

#intercom-container{
    @include breakpoint(small down) {
        display: none;
    }
}