.token{
    &_info{
        padding-top: 30px;
        text-align: center;
        @include breakpoint(medium down) {
            padding-top: 0;
        }
        h2{
            text-align: center;
        }
        &_hex{
            max-width: 380px;
            height: 437px;
            margin: 53px auto 60px;
            background-image: url(../img/bg_token_info.svg);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 24px 0;
            background-size: contain;
            @include breakpoint(medium down) {
                width: 178px;
                margin-bottom: 70px;
                height: auto;
                padding: 0;
                background-image: url(../img/bg_token_info_mob.svg);
            }
            @include breakpoint(small down) {
                width: auto;
                margin-top: 37px;
                margin-bottom: 60px;
                padding-top: 205px;
                background-size: 158px auto;
                background-position: center top;
                position: relative;
            }
            &_info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 50%;
                transform: translateX(-50%);
                @include breakpoint(small down) {
                    margin: 0 35px;
                    transform: none;
                }
                &--top, &--bottom{
                    min-width: 266px;
                    @include breakpoint(small down) {
                        min-width: auto;
                    }
                }
                &--top{
                    @include breakpoint(medium down) {
                        width: 550px;
                        height: 78px;
                        margin-top: -26px;
                        .token_info_hex_item {
                            &:first-child{
                                right: 0;
                                top: 154px;
                            }
                            &:last-child{
                                top: 0;
                                left: 0;
                                .token_info_hex_item_label{
                                    width: 110px;
                                }
                            }
                        }
                    }
                    @include breakpoint(small down) {
                        width: auto;
                        margin-top: 0;
                    }
                }
                &--middle{
                    min-width: 443px;
                    @include breakpoint(medium down) {
                        width: 550px;
                        height: 78px;
                        margin-top: 76px;
                        .token_info_hex_item {
                            &:first-child {
                                right: 0;
                                top: -154px;
                                .token_info_hex_item_label {
                                    width: 95px;
                                }
                            }
                            &:last-child {
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                    @include breakpoint(small down) {
                        width: auto;
                        min-width: auto;
                        margin-top: 66px;
                    }
                }
                &--bottom{
                    @include breakpoint(medium only) {
                        flex-direction: row-reverse;
                        margin-top: 50px;
                        .token_info_hex_item{
                            position: relative;
                        }
                    }
                    @include breakpoint(small down) {
                        margin-top: 90px;
                    }
                }
                &_center{
                    text-align: center;
                    @include breakpoint(medium down) {
                        position: absolute;
                        top: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    @include breakpoint(small down) {
                        top: 68px;
                    }
                }
            }
            &_item{
                position: relative;
                @include breakpoint(medium only) {
                    position: absolute;
                }
                @include breakpoint(small down) {
                    left: auto !important;
                    right: auto !important;
                    bottom: auto !important;
                    top: auto !important;
                }
                &_icon{
                    width: 78px;
                    height: 78px;
                    background-color: $medium-black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &_label{
                    position: absolute;
                    top: 0;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    width: 270px;
                    @include breakpoint(medium down) {
                        width: 150px;
                        &.token_info_hex_item_label{
                            top: calc(100% + 10px);
                            left: 50%;
                            right: auto;
                            transform: translateX(-50%);
                            font-size: 14px;
                            height: auto;
                            text-align: center;
                            justify-content: center;
                        }
                    }
                    @include breakpoint(small down) {
                        // font-size: 14px;
                        // position: static;
                        // height: auto;
                        // width: auto;
                    }
                    &--left{
                        right: calc(75px + 40px);
                        text-align: right;
                        justify-content: flex-end;
                        @include breakpoint(large down){
                            right: calc(75px + 20px);
                        }
                    }
                    &--right {
                        left: calc(75px + 40px);
                        text-align: left;
                        @include breakpoint(large down) {
                            left: calc(75px + 20px);
                        }
                    }
                }
            }
        }
        .hexagon{
            &--6{
                top: -92px;
                right: calc(50% - 720px);
            }
            &--1{
                top: 400px;
                left: calc(50% - 550px);
            }
        }
    }

    &_distr{
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 95px;
        text-align: center;
        @include breakpoint(medium down) {
            margin-top: 70px;
            padding-bottom: 75px;
            padding-top: 62px;
        }
        @include breakpoint(small down) {
            margin: 0;
            padding: 47px 6px 0;
            border-top: 0;
        }
        &::before, &::after{
            width: 42%;
        }
        &_stat{
            position: relative;
            max-width: 685px;
            height: 482px;
            background-image: url(../img/bg_token_distr.svg);
            background-repeat: no-repeat;
            margin: auto;
            margin-top: 66px;
            @include breakpoint(740 down) {
                transform: scale(0.9) translateX(-50%);
                left: 50%;
                min-width: 685px;
                margin-left: -30px;
            }
            @include breakpoint(small down) {
                transform: none;
                left: 0;
                min-width: auto;
                margin: 40px auto 0;
                background-size: contain;
                height: auto;
                padding-top: 294px;
                background-position: center top;
                max-width: 288px;
                display: flex;
            }
            &_perc{
                position: absolute;
                display: flex;
                align-items: baseline;
                @include breakpoint(small down) {
                    position: static;
                    display: block;
                    text-align: left;
                }
                &--cont {
                    top: 50%;
                    left: 240px;
                    transform: translate(-50%, -50%);
                    flex-direction: column;
                    align-items: center;
                    @include breakpoint(small down) {
                        position: absolute;
                        top: 104px;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: center;
                        width: auto;
                    }
                }
                &--adv{
                    top: 65px;
                    right: 58px;
                }
                &--opt{
                    top: 155px;
                    right: 0;
                }
                &--wings{
                    bottom: 210px;
                    right: 34px;
                }
                &--bounty{
                    bottom: 150px;
                    right: 28px;
                }
                &--btctalk{
                    bottom: 103px;
                    right: 77px;
                }
                &--blog{
                    bottom: 77px;
                    right: 108px;
                }
                &--fb{
                    bottom: 50px;
                    right: 124px;
                }
                &--tw{
                    bottom: 25px;
                    right: 170px;
                }
                &--reddit{
                    bottom: 0;
                    right: 200px;
                }
                &--small{
                    flex-direction: row-reverse;
                    font-size: 14px;
                    color: $medium-gray;
                    letter-spacing: 0.56px;
                    @include breakpoint(small down) {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .token_distr_stat_perc{
                        &_digit {
                            font-size: inherit;
                            font-weight: inherit;
                            margin: 0 5px;
                            @include breakpoint(small down) {
                                margin: 9.4px 0 0 5px;
                            }
                        }
                        &_label{
                            @include breakpoint(small down) {

                                display: inline-block;
                            }
                        }
                    }
                }
                &_digit{
                    font-size: 36px;
                    font-weight: 100;
                    margin: 0 10px;
                    @include breakpoint(small down) {
                        margin: 0;
                    }
                }
            }
        }
        &_big{
            @include breakpoint(small down) {
                width: 65%;
                display: flex;
                flex-wrap: wrap;
                .token_distr_stat_perc{
                    min-width: 45%;
                    margin-bottom: 25px;
                }
            }
        }
        &_small {
            @include breakpoint(small down) {
                text-align: left;
                &::before{
                    content: 'Bounties:';
                    font-size: 16px;
                    letter-spacing: 0.64px;
                    margin-bottom: 12px;
                }
                // width: 65%;
                // display: flex;
                // flex-wrap: wrap;
                // .token_distr_stat_perc {
                //     min-width: 45%;
                // }
            }
        }
    }
}