.token{
    &_info{
        padding-top: 30px;
        text-align: center;
        h2{
            text-align: center;
        }
        &_hex{
            max-width: 380px;
            height: 437px;
            margin: 53px auto 60px;
            background-image: url(../img/bg_token_info.svg);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 24px 0;
            &_info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 50%;
                transform: translateX(-50%);
                &--top, &--bottom{
                    min-width: 266px;
                }
                &--middle{
                    min-width: 443px;
                }
                &_center{
                    text-align: center;
                }
            }
            &_item{
                position: relative;
                &_icon{
                    width: 78px;
                    height: 78px;
                    background-color: $medium-black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &_label{
                    position: absolute;
                    top: 0;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    &--left{
                        right: calc(75px + 40px);
                        text-align: right;
                    }
                    &--right {
                        left: calc(75px + 40px);
                        text-align: left;
                    }
                }
            }
        }
    }

    &_distr{
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 95px;
        text-align: center;
        &::before, &::after{
            width: 42%;
        }
        &_stat{
            position: relative;
            max-width: 685px;
            height: 482px;
            background-image: url(../img/bg_token_distr.svg);
            background-repeat: no-repeat;
            margin: auto;
            margin-top: 66px;
            &_perc{
                position: absolute;
                display: flex;
                align-items: baseline;
                &--cont {
                    top: 50%;
                    left: 240px;
                    transform: translate(-50%, -50%);
                    flex-direction: column;
                    align-items: center;
                }
                &--adv{
                    top: 65px;
                    right: 58px;
                }
                &--opt{
                    top: 155px;
                    right: 0;
                }
                &--wings{
                    bottom: 210px;
                    right: 34px;
                }
                &--bounty{
                    bottom: 150px;
                    right: 28px;
                }
                &--btctalk{
                    bottom: 103px;
                    right: 77px;
                }
                &--blog{
                    bottom: 77px;
                    right: 108px;
                }
                &--fb{
                    bottom: 50px;
                    right: 124px;
                }
                &--tw{
                    bottom: 25px;
                    right: 170px;
                }
                &--reddit{
                    bottom: 0;
                    right: 200px;
                }
                &--small{
                    flex-direction: row-reverse;
                    font-size: 14px;
                    color: $medium-gray;
                    letter-spacing: 0.56px;
                    .token_distr_stat_perc_digit{
                        font-size: inherit;
                        font-weight: inherit;
                        margin: 0 5px;
                    }
                }
                &_digit{
                    font-size: 36px;
                    font-weight: 100;
                    margin: 0 10px;
                }
            }
        }
    }
}