.use_cases{
    padding-top: 85px;
    padding-bottom: 95px;
    &_videos{
        margin-top: 75px;
        margin-bottom: 20px;
    }
    &_cases{
        max-width: 950px;
    }
    &_case{
        border: 1px solid $light-black;
        height: 150px;
        background-color: rgba(32, 30, 32, 0.75);
        padding: 20px;
        border-radius: $global-radius;
        &_top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &_note{
            color: $medium-gray;
            font-size: 14px;
            letter-spacing: 0.56px;
            margin-top: -1em;
        }
    }
}